<div class="layout">
<h1>Synerra | etunimi sukunimi</h1>

<p>Keskityin sovelluksessa tekniseen suunnitteluun ja toteutukseen, pääasiassa frontendin puolella. kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</p>

code testingssiä:


<pre><code class="language-javascript">const x = 1;</code></pre>
<pre>
  <code class="language-javascript" [textContent]="codeBlock"></code>
</pre>

<p>jaska</p>
<p>jaska</p>
<p>jaska</p>

<p>jaska</p>
<p>jaska</p>
<p>jaska</p>

<p>jaska</p>
<p>jaska</p>
<p>jaska</p>

<p>jaska</p>
</div>