pre {
  background: 27;
  padding: 1rem;
  border-radius: 8px;
  max-height: 70vh;
  width: 90vh;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout p {
  max-width: 800px; /* limit width */
  word-wrap: break-word; /* legacy support */
  overflow-wrap: break-word; /* modern standard */
  white-space: normal; /* allow wrapping */
  text-align: center;
}

img {
  width: 120vh;
  height: auto;
}
